pandas~=2.2.2
yfinance~=0.2.40
python-dotenv~=1.0.1
aiofiles~=23.2.1
playwright~=1.44.0
SQLAlchemy[asyncio]~=2.0.30
pydantic~=2.7.3
opencv-python~=4.10.0.82
numpy~=1.26.4
pillow~=10.3.0
asyncpg
fastapi~=0.110.3
fastapi_profiler
uvicorn~=0.30.1
pyinstrument~=4.6.2
starlette~=0.37.2
profyle~=0.3.0
coloredlogs~=15.0.1